body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 30px;
}

/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content */
.main-content {
  /* padding-top: 88px;
    padding-bottom: 88px;
    padding-left: 88px;
    padding-right: 88px; */

  /* запись одной строкой*/
  padding: 30px 50px 30px 40px;
  /* или еще короче: 
  padding: 88px;*/
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}
/* About me */
.my-proffesion {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: 0.13em;
  margin: 0 0 18px 0;
  /* color: #000000;
  text-shadow: 2px 2px 5px gray; */
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.about-me-container {
  margin-bottom: 30px;
}

.my-portfolio-link {
  text-decoration-line: none;
}


.my-portfolio-title {
  display: inline-block;
  padding: 8px;
  padding-left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin: 0;
  /* margin-right: auto; */
}

/* Projects */

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-list {
  padding: 0 0 0 18px;
  margin: 0;
}

.projects-container {
  margin-bottom: 30px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
  margin-left: 14px;
}

.project-item-name-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #595959;
  margin-left: 3px;
  /*color: #bbb2b2;*/
  transition: all 150ms ease;
}

.project-item-name-link:hover {
  color: #140808;
}

.diplom-link {
  margin-right: 0px;
  vertical-align: middle;
  width: 20px;
  /* display: block; */
  transition: transform 300ms ease;
}

.diplom-link:hover {
  /* position: absolute;
  left: 20%;
  top: 20%; */
  transform: scale(3000%) translate(-30%, -40%);
}

/* Work Experience */
.work-experience-container {
  margin-bottom: 30px;
}

.work-experience-place {
  margin-bottom: 15px;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-top: 2px;
}
.work-experience-company {
  color: #6d9bf5;
  margin-left: 5px;
}

.work-peroiod {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 2px 0 8px 0;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-duties-list {
  margin: 2;
  padding: 0 0 0 18px;
}

/* Education */
.edu-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 12px 20px 12px 0;
}

.edu-poffesion {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 12px 0 12px 0;
}

/* Sidebar */
.sidebar {
  width: 330px;
  background: #e0ebfe;
}

.my-photo {
  margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin: 48px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts-type */
.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
  vertical-align: middle;
}

.icons {
  margin-top: 3px;
}

.gmail-image {
  width: 256px;
  aspect-ratio: auto 256 / 256;
  margin-top: 50px;
  max-width: 10%;
}

.contacts-item {
  margin: 0;
}

.contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /*  color: #161d2a;*/
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #2459bd;
}

/* Skills */
.skills-list {
  margin: 0;
  padding: 0 0 0 19px;
}

.skills-list-item {
  color: #6d9bf5;
}

.basic-list-item {
  margin-top: 5px;
  list-style-type: none;
  /* text-decoration: underline; */
}

.basic-list-title {
  margin-top: 10px;
  margin-bottom: 2px;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
